.page_title{
    padding: 25px;
    font-size: 1.5em;
}

.page_content{
    margin-top: 25px;
}

.page_content p{
    margin-top: 10px;
    padding: 25px;
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.5
}